body {
	background: url("background.png");
	text-align: center; 
	color: white;
	font-family: Arial, sans-serif;
}
#container {
	width: 950px;
	height: 600px;
	margin: 0 auto;
}
#notify {
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 50px; 
}
#columnR {
	float: right;
	width: 175px;
	margin-top: 160px;
	font-size: 21px;
}
#columnL {
	float: left;
	width: 175px;
	margin-top: 160px;
	font-size: 30px;
}
#winlose {
	font-size: 25px;
}
#logo {
	width: 600px;
	float: right;
}
.circle {
	width: 117px;
	height: 117px;
	z-index: 1;
	position: absolute;
}
#rock {
	margin-left: 418px;
	margin-top: 73px;
}
#paper {
	margin-left: 536px;
	margin-top: 160px;
}
#scissors {
	margin-left: 490px;
	margin-top: 290px;
}
#lizard {
	margin-left: 350px;
	margin-top: 290px;
}
#spock {
	margin-left: 300px;
	margin-top: 160px;
}
#line2 {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 50px;
	clear: both;
	font-style: italic;
}